{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "@typescript-eslint",
    "import"
  ],
  "ignorePatterns": [
    "node_modules",
    "public",
    "coverage"
  ],
  "rules": {
    "no-constant-condition": "off",
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc"
        },
        "pathGroupsExcludedImportTypes": ["builtin"],
        "warnOnUnassignedImports": true,
        "groups": [
          "builtin",
          "external",
          "internal",
          ["parent", "sibling", "index"],
          "object",
          "type",
          "unknown"
        ],
        "pathGroups": [
          {
            "pattern": "~",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "*.css",
            "patternOptions": { "matchBase": true },
            "group": "unknown",
            "position": "after"
          }
        ]
      }
    ],
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-absolute-path": "error",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "peerDependencies": true,
        "optionalDependencies": false
      }
    ],
    "import/no-mutable-exports": "error",
    "import/no-named-default": "error",
    "import/no-self-import": "error",
    "import/no-duplicates": "error"
  }
}
